.container {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  padding: 2.4rem 1rem;
}

.logo {
    width: 240px;
    height: auto;
    margin: 0 auto;
    filter: invert(1);
    margin-bottom: 2rem;
}

:root {
    --soundcloud-color: #ff3300;
    --twitch-color: #9146FF;
    --instagram-color: #E4405F;
    --facebook-color: #1877F2;
}

body {
    background: url('/img/bg.jpg') no-repeat;
    background-size: cover;
    /* backdrop-filter: blur(30px); */
}

.embed-radio {
    background: rgba(255, 255, 255, .2);
    padding: 20px;
    border-radius: 8px;
}

.social-links {
    display: flex;
    flex-wrap: wrap;
    color: white;
    justify-content: space-evenly;

    max-width: 400px;
    margin: 2rem auto;
}
.social-links a {
    display: inline-block;
    width: 50px;
    height: 50px;
}

.social-links svg {
    fill: white;
}

.social-links a.instagram:hover svg {
    fill: var(--instagram-color);
}

.social-links a.facebook:hover svg {
    fill: var(--facebook-color);
}

.social-links a.twitch:hover svg {
    fill: var(--twitch-color);
}

.social-links a.soundcloud:hover svg {
    fill: var(--soundcloud-color);
}